/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/

// .hljs {
//   display: block;
//   overflow-x: auto;
//   padding: 0.5em;
//   background: #272822; color: #ddd;
// }

// .hljs-tag,
// .hljs-keyword,
// .hljs-selector-tag,
// .hljs-literal,
// .hljs-strong,
// .hljs-name {
//   color: #f92672;
// }

// .hljs-code {
//   color: #66d9ef;
// }

// .hljs-class .hljs-title {
//   color: white;
// }

// .hljs-attribute,
// .hljs-symbol,
// .hljs-regexp,
// .hljs-link {
//   color: #bf79db;
// }

// .hljs-string,
// .hljs-bullet,
// .hljs-subst,
// .hljs-title,
// .hljs-section,
// .hljs-emphasis,
// .hljs-type,
// .hljs-built_in,
// .hljs-selector-attr,
// .hljs-addition,
// .hljs-variable,
// .hljs-template-tag,
// .hljs-template-variable {
//   color: #a6e22e;
// }

// .hljs-comment,
// .hljs-quote,
// .hljs-deletion,
// .hljs-meta {
//   color: #75715e;
// }

// .hljs-keyword,
// .hljs-selector-tag,
// .hljs-literal,
// .hljs-doctag,
// .hljs-title,
// .hljs-section,
// .hljs-type,
// .hljs-selector-id {
//   font-weight: bold;
// }

// override the padding for `single` type of code
.highlight > pre code {
  padding-left: 0;
  padding-right: 0;
}

// pixyll original
.highlight {
  -webkit-text-size-adjust: none;
  background: #272822; color: #ddd;
}

.highlight .c,
.highlight .c1 {
  color: $hljs-comment;
  font-style: italic;
}

.highlight .kr, // import
.highlight .kd,
.highlight .k,
.highlight .kp {
  color: $hljs-keyword;
  // font-weight: bold;
}

.highlight .kc {
  color: $hljs-literal
}

.highlight .m,
.highlight .mi {
  color: $hljs-number;
}

.highlight .s,
.highlight .s1 {
  color: $hljs-string;
}

.highlight .nt,
.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: $hljs-title;
  font-weight: bold;
}

.highlight .k {
  font-weight: normal;
}

// .highlight .nl, // js methods
// .highlight .nx, // js methods
.highlight .nc,
.highlight .no {
  color: $hljs-type;
}

.highlight .o {
  color: $hljs-tag;
  font-weight: normal;
}

.highlight .n,
.highlight .na,
.highlight .nb {
  color: $hljs-attribute;
}

.highlight .sr {
  color: $hljs-regexp;
}

.highlight .ss {
  color: $hljs-symbol;
}

.hljs-built_in {
  color: $hljs-built-in;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: $hljs-preprocessor;
  font-weight: bold;
}

.hljs-deletion {
  background: $hljs-deletion;
}

.hljs-addition {
  background: $hljs-addition;
}

.diff .hljs-change {
  background: $hljs-change;
}

.hljs-chunk {
  color: $hljs-chunk;
}
